.eye {
	.el-input-group__prepend {
		min-width: 50px;
		max-width: 50px;
		padding: 0 !important;
		text-align: center;
	}
}

.date-size {
	.el-input__inner { 
		width: 100% !important;
	}
}

.date-size.el-input {
	width: 100% !important;
}

.counter.el-input-number {
	width: 100% !important;
}

.box-photo {
	height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    min-width: 200px;
    overflow: hidden;
    min-height: 200px;
	border-radius: 5px;
	border: 1px solid rgb(212, 210, 210);
}